<style>
 abbr { color: red }
.pull-right { float: right }
</style>
<%= simple_form_for(@merit_money) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs row">
    <%= f.input :value, wrapper_html: {class: "col-md-4"}%>
    <%= f.association :received, collection: @users, wrapper_html: {class: "col-md-8"} %>
    <%= f.input :reason , wrapper_html: {class: "col-md-12"}%>
    <%= f.input :reference, wrapper_html: {class: "col-md-12"} %>
  </div>

  <div class="form-actions">
    <%= link_to 'Back', merit_moneys_path, class: "btn btn-outline-dark" %>
    <%= f.button :submit, class: "btn btn-success pull-right" %>
  </div>
<% end %>
